body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(blueman.png);
  background-repeat: no-repeat;
  background-position: center;
}
.description{
  display: inline-flex;
  position: absolute;
}
.description :nth-child(n) {
  margin: 5px;
  padding: 0 4px 0 4px;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: default;
}
#canvas{
  display: block;
}