* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
  background: rgb(31, 31, 31);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
}
.buttons{
  display: flex;
  gap: 20px;
}
.textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 10px;
  resize: none;
  color: white;
  border: 1px solid #777777;
  border-radius: 10px;
  background: rgb(20, 20, 20)
}
.btn-record, .btn-speech {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #53bd66;;
  background: #53bd66;;
  cursor: pointer;
  color: white;
  font-size: 18px;
  outline: none;
  transition: border 0.5s;
}
.btn:hover {
  border: 2px solid #0000004b;
}
.rec{
  background: red;
}
