* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  min-height: 30px;
  border: 1px solid #00000070;
  border-radius: 10px;
}
.back-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 30px;
  border: 1px solid #00000070;
  border-radius: 10px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #53bd66;;
  background: #53bd66;;
  cursor: pointer;
  outline: none;
  transition: border 0.5s;
}
.btn:hover {
  border: 2px solid #0000004b;
}
.rec{
  background: red;
}
